html {
    scroll-behavior: smooth;
}

body {
    /*background-color: #E5F7E5; */
    background url(hatter.jpg)
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Frank Ruhl Libre', serif;
    color: #001F54;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #88bb88;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu a {
    color: #001F54;
    text-decoration: none;
    padding: 10px 15px;
}

.menu a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 4.5em;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 1000;
    margin: 0;
    color: #001F54;
}

.highlight-box {
    background-color: #D0E6D0;
    width: 86%;
    margin: 20px auto;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(95, 39, 39, 0.1);
    box-align: center;
    border-radius: 8px;
    text-align: left;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

button{
    padding: 10px 15px;
    margin: 20px;
    cursor: pointer;
}

footer {
    background-color: #669666;
    width: 100%;
    padding: 60px 0;
    position: relative;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    text-align: bottom right;
}

.footer-text {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.5em;
    color: #001F54;
    position: absolute;
    right: 20px;
    bottom: 10px;
    margin: 0;
}
